<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    <script>
        $('code').each(function(index, el) {
            var a = $(el).html();

            if(a.indexOf('javascript')>=0)
                $(el).html(a.substring(0, a.indexOf('javascipt')) + a.substring(a.indexOf('javascript') + 10, a.length))
        })
    </script>
    </body>
</html>
